@model PedidoModel
@{
    ViewBag.Subtitulo = "Exclusão de Pedidos";
}

<h1 class="text-primary">@ViewBag.Subtitulo</h1>
<hr>
<h4>Deseja realmte excluir o pedido <span class="text-danger">@Model.IdPedido?</span></h4>


<form asp-action="Excluir">
    <input type="hidden" asp-for="@Model.IdPedido">
    <div class="mt-3">
        <a asp-action="Index" class="btn btn-success">Não</a>
        <button class="btn btn-danger" type="submit">Sim</button>
    </div>
</form>